<html><body>You are being <a href="https://github.knowit.no/login?return_to=https%3A%2F%2Fgithub.knowit.no%2Fkyber%2FHemsedalSport.Umbraco%2Fraw%2Fmaster%2F.gitattributes">redirected</a>.</body></html>