<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>DocumentTypeBase</Name>
    <Alias>documentTypeBase</Alias>
    <Icon>Folder.gif</Icon>
    <Thumbnail>Folder.png</Thumbnail>
    <Description />
    <AllowAtRoot>False</AllowAtRoot>
    <Master />
    <AllowedTemplates />
    <DefaultTemplate />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>